{% extends 'base.html' %}
{% block content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Correo</td>
                <td>Producto</td>
                <td>Telefono</td>
                <td>Direccion</td>
            </tr>
        </thead>
        <tbody>
            {% if Datos %}
                {% for z in Datos %}
                    <tr>
                        <td>{{z.nombre}}   </td>
                        <td>{{z.apellido}} </td>
                        <td>{{z.correo}}   </td>
                        <td>{{z.producto}} </td>
                        <td>{{z.telefono}} </td>
                        <td>{{z.direccion}}</td>
                    </tr>
                {% endfor %}
            {% else%}
            <h1> No se encuentran Datos actuales</h1>
            {% endif %}
        </tbody>
    </table>
{% endblock %}