{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="../static/css/form.css">
{% endblock %}
{% block content %}
    <form >
        <h2>Formulario</h2>

        <input id="nombre" type="text" placeholder=" " required>
        <input id="apellido" type="text" placeholder="" required>
        <input id="correo" type="email" placeholder="Email" required>
        <input id="producto" type="text" placeholder="" required>
        <input id="telefono" type="number" placeholder="" required>
        <input id="direccion" type="text" placeholder="" required>
        <textarea name="" id="sugerencia" cols="30" rows="10"></textarea>
        

        <button id="ingresar">Ingresar</button>

    </form>
    <button id="mostrar" onclick="myFunction()">Mostrar datos</button>
{% endblock %}