{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="../static/css/form.css">
{% endblock %}
{% block content %}
    <form action=/formulario2 method="POST">
        {% csrf_token %}
        <h2>Formulario</h2>

        <input name="Nombre" type="text" placeholder="Nombre" required>
        <input name="apellido" id="apellido" type="text" placeholder="Apellido" required>
        <input name="correo" id="correo" type="email" placeholder="Email" required>
        <input name="producto" id="producto" type="text" placeholder="Producto" required>
        <input name="telefono" id="telefono" type="number" placeholder="Telefono" required>
        <input name="direccion" id="direccion" type="text" placeholder=Direccion required>
        <textarea name="sugerencia" id="sugerencia" cols="30" rows="10"></textarea>
        

        <button id="ingresar" type="submit">Ingresar</button>

    </form>
    
{% endblock %}