{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="../static/css/form.css">
{% endblock %}
{% block content %}
    <form >
        <h2>Formulario</h2>

        
        <input id="correo" type="email" placeholder="Email" required>
        <input id="contraseña" type="password" placeholder="Contraseña" required>
        <input id="nombre" type="text" placeholder="Nombres" required>
        <input id="apellido" type="text" placeholder="Apellidos" required>
        <input id="fecha" type="date"   required >

        <button id="ingresar">Ingresar</button>

    </form>
    <button id="mostrar" onclick="myFunction()">Mostrar datos</button>
{% endblock %}