<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/carrusel.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/v4-shims.css">
    <script src="js/menuresponsivo.js"></script>
    <script src="js/mapa.js"></script>
    <!-- <script src="js/jquery-3.4.1.min.js"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Chothesmix</title>
</head>
<body>
    <header>
        <div class="menuSuperior container">
            <div class="row">
                <div class="logoContainer col-xs-6">
                    <a class="logoBoton" href="index.html"><img class="logo" src="img/Logo.PNG" alt="Logo de la pagina"></a>
                </div>
                <div class="menuFila col-xs-6">
                    <nav class="menu" id="menuRes">
                        <ul class="menuRe">
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="galeria.html">Galeria</a></li>
                            <li><a href="form.html">Formulario</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section>
        <h2 class="frase"> Ven a conocer nuestra nueva sucursal </h2>
        <div class="slideshow-container">
            <div class="mySlides">
                <div class="numbertext">1 / 3</div>
                    <img src="img/ropa1.jpg" style="width:100%" alt="imagen de ropa colgada">
                </div>
                    
                <div class="mySlides">
                    <div class="numbertext">2 / 3</div>
                      <img src="img/ropa2.jpg" style="width:100%" alt="imagen de personas viendo ropa">
                </div>
                    
                <div class="mySlides">
                    <div class="numbertext">3 / 3</div>
                      <img src="img/ropa3.jpeg" style="width:100%" alt="imagen de una seccion de la tienda con ropa a la vista">
                </div>
                    
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    
            </div> 
    </section>
    <section class="info">
        <h1>Sobre Nosotros</h1>
        <article class="informacionTienda">
            <h3>Calidad</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo ab, cum atque,
                   doloremque mollitia officia eligendi a animi voluptatibus harum, impedit quia iure laborum facere
                   ducimus fuga aspernatur voluptas vitae?</p>
            <h3>Sobre Nosotros</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                   Doloremque earum laborum sit minima dolore voluptates nemo dicta ducimus doloribus blanditiis vero,
                   accusamus ut iusto rerum nobis deleniti aspernatur vitae. Nisi.</p>
            <h3>Experiencia</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                   Aut minus perferendis beatae aliquid deserunt autem laborum!
                   Omnis similique nihil consectetur blanditiis possimus doloribus hic.
                   Velit molestias placeat minima quia eum.</p>
        </article>
        <article class="ubicacion">
            <h2>Ubicacion</h2>
            <p>
               Encuentranos en: La Concepción 2758, Maipú, Región Metropolitana
            </p>
            <div id="map"></div>
        </article>
    </section>

    <footer>
        <div class="container footer">
            <div class="row">
                <div class="contacto col-sm-4">
                    <h5>Contacto</h5>
                    <a href="tel:+56976073197">+56976073197</a>
                    <br>
                    <a href="mailto:chothesmix@gmail.com">chothesmix@gmail.com</a> 
                </div>
                <div class="ayuda col-sm-4">
                    <h5>Ayuda</h5>
                    ¿Quien Somos?
                    <br>
                    Politicas de privacidad
                    <br>
                    Cookies
                </div>
                <div class="redesSociales col-sm-4">
                    <h5>Siguenos</h5>
                    <ul>
                        <li><i class="fab fa-facebook"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                    </ul>
                </div>
            </div>

        </div>
        <address class="propiedadIntelectual">&copy;Daniel Tapia - Marcelo Barraza - Claudio Cornejo</address>
        <p>
            <a href="http://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px"
                    src="//jigsaw.w3.org/css-validator/images/vcss"
                    alt="¡CSS Válido!" />
            </a>
        </p>
        <p>
            <a href="http://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px"
                    src="https://www.w3.org/Icons/valid-html401"
                    alt="¡CSS Válido!" />
            </a>
        </p>
    </footer>
<script src="js/carrusel.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAouDYqom3NBleFc4wVPzD5aKTVPzcFi-A&callback=initMap">
</script>
</body>
</html>