{% extends 'base.html' %}
{% block content %}

<section>
<div class="boxSingup" style="margin: 12px; text-align: center;">
	<h2>Conéctate a tu cuenta</h2>
	<form method="post">
		{% csrf_token %}
	    {{ form.as_p }}
	    <div class="ficon">	
	    	<button class="btn btn-success" type="submit">Login</button>
	    <div/>  
	    <p>No tienes cuenta? <a href="/registro">Registrate</a></p>	
	</form>
	<div class="ficon">
		<a href="/" class="btn btn-primary" role="button">Volver</a>
	</div>
</div>
</section>

{% endblock %}