*{
    margin: 0;
    padding: 0;
}
.info{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
  
  
    margin: auto;
    background: pink;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}
#titulo{
    text-align: center;
}
.dato{
    background: #f7e8f6;
    border-radius: 7px;
    color: black;
    text-align: center;
}

@media screen and (max-width: 725px) {
    table {
        width:100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
    
        td:nth-of-type(1):before { content: "#"; }
		td:nth-of-type(2):before { content: "Nombre"; }
		td:nth-of-type(3):before { content: "Apellido"; }
		td:nth-of-type(4):before { content: "Correo"; }
		td:nth-of-type(5):before { content: "Producto"; }
		td:nth-of-type(6):before { content: "Telefono"; }
		td:nth-of-type(7):before { content: "Direccion"; }
		td:nth-of-type(8):before { content: "Accion"; }
	
}